@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.input {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 10px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #6b7280 !important;
  opacity: 1 !important;
  font-weight: 500;
}

input,
textarea,
select {
  color: #1f2937 !important;
  font-weight: 500;
}

input:disabled,
textarea:disabled,
select:disabled {
  color: #059669 !important;
  background-color: #f0fdf4 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.td-label {
  @apply bg-gray-100 font-medium px-3 py-2 border-r;
}
.td {
  @apply px-3 py-2;
}
.th {
  @apply px-3 py-2 border-b text-left;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
